link(href="/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
link(rel="styleSheet",href="/css/style.css")
link(rel="styleSheet",href="#{cdnCSS ? cdnCSS : '' }")
script(src="/libs/jquery/dist/jquery.min.js",type="text/javascript")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js",type="text/javascript")
script(src="https://sdkcdn.videojj.com/liveOSSdk/develop/SDK.js")
script(src="https://sdkcdn.videojj.com/liveOSPanda/develop/liveOS.js")
