*{
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Hiragino Sans GB','Microsoft YaHei','Î¢ÈíÑÅºÚ','WenQuanYi Micro Hei',sans-serif;
}
a:link{
    text-decoration: none;
}
.parentPosition{
    position: relative;
    top:0;
    left:0;
}
.absoultPostion{
    position:absolute;
    bottom:5px;
}
.panel-default {
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-body {
    padding: 15px;
}



.list-check-parent{
    position: relative;
    top:0;
    left: 0;
}
.list-check{
    position:absolute;
    right:10px;
}
.anchorRoom{
    font-family: Consolas;
    font-size: 12px;
    color: #3c763d;
}
.anchorPoster{
    height:130px !important;
}

.anchorHeader{
    margin-bottom:10px;
}
.anchorTitleImg{
    position:relative;
    bottom:0;
    left:0;
}
.anchorTitleImg img{
    width:60px;
    height:50px;
    position:absolute;
    right:0;
    border:1px solid rgba(0, 0, 0, 0.32);
    padding:2px;
}
.anchorTitleContent {
    font-size: 20px;
    font-weight: bold;
    font-family: Î¢ÈíÑÅºÚ;
}
.anchorTitleContent span{
    font-size: 12px;
    position: relative;
    top: -10px;
}
.anchorFont{
    font-size: 12px;
    font-weight: 200;
    color: #747474;
}


#wrongMsg{
    position: fixed;
    top:20px;
    left:50%;
}
.videoHidden {
    display: none;
}