extends ../layout

block content
        .container
            .row
                form.form-horizontal(method="post", action="/admin/login")
                    .form-group
                        label.col-sm-2.control-label(for="inputUserName") 用户名
                        .col-sm-10
                            input#inputUserName.form-control(type="text" , name="username" , value="#{user.username}")
                    .form-group
                        label.col-sm-2.control-label(for="inputPassword") 密码
                        .col-sm-10
                            input#inputPassword.form-control(type="password" , name="password" , value="#{user.password}")
                    .form-group
                        .col-sm-offset-2.col-sm-10
                            button.btn.btn-primary(type="submit") 登录
                            button.btn.btn-danger.registered(type="button",onclick="location='/register'") 注册

